*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    text-align: center;
    width: 90%;;
    margin: 0 auto;
;
}
.container{
    display: flex;
    width: 80% ;
    margin: 50px auto;
    align-items: center;
    justify-content: space-between;
}
header h1{
    background-color: aqua;
    letter-spacing: 3px;
    word-spacing: 10px;
    display: block;
    width: 80%;
    height: 20px;
    margin: 0 auto;
}
input[type = "text"]{
    
    width: 20rem;
    font-size: 1.1rem;
    padding: 6px;
    margin-right: 15px;
}
.name{
    display: flex;
}
.name .toggle2{
    display: none;
}
img{
    height: 30px;
    width: 30px;
}
button{
    padding: 7px;
    color: rgb(236, 236, 236);
    background-color: rgb(111, 111, 111);
    border: 1px solid rgb(111, 111, 111);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}
button:hover{
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
    color: rgb(83, 83, 83);
}
#display{
    
    width: 80% ;
    height: 100vh;
    margin: 50px auto;
    /* background-color: rgb(0, 255, 255 ,0.14) ; */
    padding: 20px 0;
    background-repeat: no-repeat;
}
.none{
    display: none;
}
.visible{
    display: visible;
}

.main-weather{
    width: 65vw;
    height: 30vh;
    margin: 20px auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#temp h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
#desc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
#desc img{
    
    width: 3.5rem;
    height: 3.5rem;
}

.weather-det{
    background-color: rgb(237, 237, 237);
    width: 40vw;
    margin: 20px auto;
    display: none;
    padding:  0;
    max-height: 0;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.weather-det .box{
    text-align: left;
    margin: 1rem 2rem;
}
.box h3 span{
    font-size: 0.7rem;
    font-weight: 300;
    
}
.weather-det .box p{
    font-size: 0.9rem;
    color: rgb(60, 60, 60);
}
#temp h1 span{
    font-size: 2rem;
}

/* updown toggle */
#updown{
    display: block;
    width: 15vw;
    margin: 2rem auto;
    padding: 1rem;
    opacity: 0.7;
}
#updown:hover{
    cursor: pointer;
    background-color: rgb(194, 194, 194);

}

#down{
    transition:transform ease-in-out 0.3s;
}
.down{
    transform: rotate(-180deg)
}
.collapsed{
    display: flex;
}

/*loading animation style starts here */



.loading{
    display: none;
    height: 40px;
    width: 40px;
    /* background-color: blueviolet; */
    position: absolute;
    left: 48%;;
    top: 48%;
    border-radius: 50%;
    /* box-shadow: 0 0 0 10px gray ; */
    animation: spin linear 1.2s infinite;
}
.loading-shown{
    display: block;
}

.loading::after{
    content : "";
    display : block;
    height : 20px;
    width : 20px;
    border-radius : 50%;
    box-shadow : 40px  10px 0 aqua , 
                 10px 40px 0 grey ,
                 -20px 10px 0 aqua ,
                 10px  -20px 0 grey


}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



/* media-queries starts from here */

@media only screen and (max-width : 872px) {
    html{
        width: 93%;
    }
    header h1{
        letter-spacing: 1px;
        word-spacing: 7px;
    }
    .container{
        position: relative;
        margin: 60px auto;
    }
    input[type = "text"]{
        width: 50%;
        position: absolute;
        right: 60px;
    }

    .name .toggle1{
        font-size: 20px;
        display: none;
    }
    .name .toggle2{
        display: initial;
    }
    
}
@media only screen and (max-width : 675px){
    html{
        width: 95%;
    }
    .container{
        width: 95%;
        margin: 70px auto;
    }
    #display{
    
        width: 95% ;

    }
    header h1{
        width: 95%;
        letter-spacing: normal;
        word-spacing: normal;
    }
    .main-weather{
        width: 90%;
        height: 30vh;
        margin: 20px auto;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .weather-det{
        
        width: 90%;
        margin: 20px auto;
    }
    #temp h4{
        font-size: 0.8rem;
    }
    #desc {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        width: 9rem;
    }
    #desc img{
        
        width: 3.5rem;
        height: 3.5rem;
    }
    #updown{
        display: block;
        width: 40vw;
        margin: 2rem auto;
        padding: 1rem;
    }
}
